@model PersonalProject.Models.AdvertismentAndSearchModel
@using PersonalProject.Models
@{
    ViewBag.Title = "Index";
}



<div class="d-flex flex-column justify-content-center align-content-center">
    <div class=" align-self-center my-3">
        @Html.Partial("_PartialSearchBar", Model.SearchBar)
    </div>
    <div class="container align-self-center">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    @foreach (var job in Model.JobAdvertisment)

                    {

                        <li class=" rounded advertisment-border my-2" onclick="loadPartial(@job.Id,this)">
                            <div class="d-flex flex-row">
                                <img src="~/Content/uploads/@job.Company.LogoURL" class="m-2 col-md-3" style="width:130px;" />
                                <div class="col-md-6">
                                    <h4 style="margin-top:.5rem; margin-bottom: .1rem">@job.Title</h4>
                                    <p class="fw-bold my-0">@job.Company.Name</p>
                                    <p class="fw-bold my-0" style="font-size: 14px;">@job.City</p>
                                </div>

                            </div>
                            <div>
                                <h6 class="mx-2 small">Active Till: @job.ActiveTill.ToString("yyyy-MM-dd")</h6>

                            </div>
                        </li>
                    }
                </ul>
                @Html.Partial("Pagination")
            </div>
            <div id="jobDetails" class="col-md-6">

            </div>
        </div>
    </div>
</div>

<script>
    function loadPartial(jobId, element) {
        $('li').removeClass('clicked');
        $(element).addClass('clicked');
     if (window.innerWidth < 800) {
        // Use a different URL if the screen width is less than 800 pixels
        window.location.href = '@Url.Action("Details")' + '?id=' + jobId; // Replace with your action for smaller screens
    } else {
        // Use the default URL
        url = '@Url.Action("PartialDetails")';
    }
        $.ajax({
            url: url,
            data: { id: jobId },
            success: function (data) {
                $('#jobDetails').html(data);
            },
            error: function () {
                alert('Failed to load job details.');
            }
        });
    }
</script>